---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    {% if page.preview != true %}
    <br />
      Share:
      <a href="https://twitter.com/share?url={{page.url}}&amp;text=&#34;{{page.title}}&#34;&#32;{{site.url}}{{page.url}}" target="_blank">
        Twitter
      </a>
      •
      <a href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}" target="_blank">
        Facebook
      </a>
      •
      {% if page.hacker_news_id %}
      <a href="https://news.ycombinator.com/item?id={{page.hacker_news_id}}">HN</a>
      {% else %}
      <a href="https://news.ycombinator.com/submitlink?u={{site.url}}{{page.url}}&t={{page.title}}">HN</a>
      {% endif %}
      •
      <a href="mailto:?Subject={{page.title}}&amp;Check&#32;out&#32;this&#32;blog&#32;post&#58;&#32;{{site.url}}{{page.url}}">
        Email
      </a>
    {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="comments">
    Thoughts or comments? Let me know on <a href="https://twitter.com/ramblinjan">Twitter.</a>
    {% if page.hacker_news_id %}
    <br />
    You can also join in the discussion on <a href="https://news.ycombinator.com/item?id={{page.hacker_news_id}}">Hacker News.</a>
    {% endif %}
  </div>

</article>
